* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-first {
    display: flex;
    font-weight: 1000;
    font-size: 30px;
}

header select {
    height: 30px;
    width: 200px;

    border: 2px solid black;
    border-radius: 5px;
}

header input {
    height: 30px;
    width: 400px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 10px;
}

header button {
    height: 30px;
    width: 60px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#header-last {
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 100px;
    height: 40px;

    border: none;
    cursor: pointer;
}

#product-line {
    display: flex;
    overflow-x: scroll;
}

#products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 125px;
}

@media (max-width: 800px) {
    header input {
        width: 250px;
    }
}

@media (max-width: 400px) {
    header input {
        width: 150px;
    }
}